<a href="https://colab.research.google.com/github/kchenTTP/python-containers/blob/main/dictionary_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Container Datatype Example**

## Dictionary Excercise: Student Database

**Instructions**
1. Create an empty dictionary to act as a database for students
2. Implement a function `add_student()` that adds a new student to the database. The function takes in `database`, `id`, `name`, `grade` as arguments
  - `database`: Your student database
  - `id`: dictionary keys: Unique identifier for each student
  - `name`: String, student's name
  - `grade` float, their current grade level

  ** `name` and `grade` should be stored in a single dictionary value as a tuple
3. Implement a function `get_student()` that retrieves the information of a student by their ID. It should take in 2 arguments `database`, `id` and it should return the student's name and grade
4. Implement a function `display_students()` that displays a list of all students in the database. It should take in 1 argument `database`. The list should include the student ID, name, and grade.

In [ ]:
# @title Student Database with Functions

def add_student(db: dict, id: int, name: str, grade: float):
  db[id] = (name, grade)

def add_multiple_students(db:dict, list_of_ids: list, list_of_names: list, list_of_grades: list):
  for id, student, grade in zip(list_of_ids, list_of_names, list_of_grades):
        db[id] = (student, grade)

def get_student(db: dict, id: int):
  student = db.get(id)
  if student != None:
    return student[0], student[1]
  raise Exception(f'No student with id = {id}. Last id of student is {list(db.keys())[-1]}')

def display_students(db: dict):
  print('================')
  print('Student Database')
  print('================')
  for id, student in db.items():
    print('id:', id)
    print('name:', student[0])
    print('grade:', student[1])
    print('----------------')

In [ ]:
# dictionary to contain student information
student_db = {}

# list of all the students id, name, and grade
n_students = 3
student_ids = list(range(0, n_students))
student_names = ['Bob', 'Alice', 'Max']
student_grades = [60, 85.5, 76]

# add multiple student
add_multiple_students(student_db, student_ids, student_names, student_grades)

# add one student
add_student(student_db, 3, 'Tom', 93)

# get student info using id
student, grade = get_student(student_db, 2)
# s1, g1 = get_student(student_db, 3)  # will raise error
print(student, grade)
print()

display_students(student_db)

Max 76

================
Student Database
================
id: 0
name: Bob
grade: 60
----------------
id: 1
name: Alice
grade: 85.5
----------------
id: 2
name: Max
grade: 76
----------------
id: 3
name: Tom
grade: 93
----------------

In [ ]:
# @title Student Database with Class
class StudentDB():
  def __init__(self):
    self.__db = {}

  def add_one(self, id: int, name: str, grade: float):
    if id in self.__db.keys():
      raise ValueError(f'Invalid id: {id}. Next available id starts at {list(self.__db.keys())[-1] + 1}')
    if not isinstance(name, str):
      raise ValueError("Invalid data format. 'name' attribute is not a string.")

    self.__db[id] = (name, grade)

  def add_multiple(self, list_of_ids: list, list_of_names: list, list_of_grades: list):
    # check valueError
    if not isinstance(list_of_ids, list):
      raise ValueError("Invalid data format. list_of_ids not a list.")
    if not isinstance(list_of_names, list):
      raise ValueError("Invalid data format. list_of_names not a list.")
    if not isinstance(list_of_grades, list):
      raise ValueError("Invalid data format. list_of_grades not a list.")

    for id, student, grade in zip(list_of_ids, list_of_names, list_of_grades):
      if id in self.__db.keys():
        raise ValueError(f'id: {id} not available')
      self.__db[id] = (student, grade)

  def get_id_with_name(self, name: str):
    if not isinstance(name, str):
      raise ValueError("Invalid data format. 'name' attribute is not a string.")

    for k, v in self.__db.items():
      n, _ = v
      if name == n:
        return k
    raise NameError("Name '{}' does not exist".format(name))

  def get_next_available_id(self):
    list_of_ids = list(self.__db.keys())
    id = 0
    while id in list_of_ids:
      id += 1
    return id

  def get_student_with_id(self, id: int):
    if not isinstance(id, int):
      raise ValueError("Invalid data format. 'id' attribute is not an int.")

    student = self.__db.get(id)
    if student != None:
      return student[0], student[1]
    raise Exception(f'No student with id = {id}. Last id of student is {list(self.__db.keys())[-1]}')

  def update_student_grade(self, id: int, new_grade):
    if not isinstance(id, int):
      raise ValueError("Invalid data format. 'id' attribute is not an int.")

    try:
      n, _ = self.__db.get(id)
      self.__db.update({id: (n, new_grade)})
    except ValueError:
      print(f'id: {id} does not exist in this database')

  def __str__(self):
    string = '================\n' + 'Student Database\n' + '================\n'
    for id, student in self.__db.items():
      s = f'id: {id}\n' + f'name: {student[0]}\n' + f'grade: {student[1]}\n' + '----------------\n'
      string += s
    return string

In [ ]:
# students to add to the database
n_students = 3
student_ids = list(range(0, n_students))
student_names = ['Bob', 'Alice', 'Max']
student_grades = [60, 85.5, 76]

# instantiate StudentDB and add multiple value
students = StudentDB()
students.add_multiple(student_ids, student_names, student_grades)

# find next available id
next_id = students.get_next_available_id()
print('Next available id number:', next_id)
print()

# add one student
students.add_one(next_id, 'Tom', 93)

# get student information using student id
stu_id = 2
name, grade = students.get_student_with_id(stu_id)
print("{}'s id:".format(name), stu_id)
print('student name:', name)
print('student grade:', grade)
print()

# update student's grade using id
students.update_student_grade(students.get_id_with_name('Max'), 80)

print('Next available id number:',students.get_next_available_id())

Next available id number: 3

Max's id: 2
student name: Max
student grade: 76

Next available id number: 4

In [ ]:
# print out entire database
print(students)

================
Student Database
================
id: 0
name: Bob
grade: 60
----------------
id: 1
name: Alice
grade: 85.5
----------------
id: 2
name: Max
grade: 80
----------------
id: 3
name: Tom
grade: 93
----------------

In [ ]:
# get hiding attribute
print(students._StudentDB__db)

{0: ('Bob', 60), 1: ('Alice', 85.5), 2: ('Max', 80), 3: ('Tom', 93)}