<a href="https://colab.research.google.com/github/kchenTTP/python-containers/blob/main/Python_Container_Datatypes_Starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Container DataTypes**

Container datatypes are built-in data structures that hold collections of other objects. They are used to store and organize multiple values in a single variable. We will go through 4 most common Python container Datatypes

**Overview**
- Keywords & Definition
- Most common container datatypes
  - Lists
  - Sets
  - Tuples
  - Dictionaries
- Excercise
- Resources for futhure learning

# Keywords & Definition

**Methods**: Functions that are associated with a class or its instances (objects)

**Order**: An ordered data structure maintains the sequence or order in which the elements were added or defined

**Index**: Index-based data structures allow accessing elements based on their position or index.

**Mutable**: Mutable objects can be modified or changed after they are created

# Lists
- **Ordered**
- **Indexed**
- **Mutable**

[List Methods](https://www.w3schools.com/python/python_ref_list.asp)

In [3]:
# create a list of colors
colors_list = ['red', 'yellow', 'blue', 'orange', 'green', 'purple']
colors_list

['red', 'yellow', 'blue', 'orange', 'green', 'purple']

## Index Slicing

In [4]:
# index Slicing
print(colors_list[2])
print(colors_list[-2])
print(colors_list[1:4])
print(colors_list[1:])
print(colors_list[:4])
print(colors_list[-4:-2])
print(colors_list[1:5:2])
print(colors_list[1::2])
print(colors_list[::2])

blue
green
['yellow', 'blue', 'orange']
['yellow', 'blue', 'orange', 'green', 'purple']
['red', 'yellow', 'blue', 'orange']
['blue', 'orange']
['yellow', 'orange']
['yellow', 'orange', 'purple']
['red', 'blue', 'green']

In [11]:
# string Indexing
var_1 = "The New York Public Library"
var_1[7:21]

' York Public L'

In [6]:
# reassign values in list
colors_list[0] = 'teal'
colors_list

['teal', 'yellow', 'blue', 'orange', 'green', 'purple']

## List Methods

In [12]:
# append method add item to the end of list
colors_list.append('violet')
colors_list

['teal', 'yellow', 'blue', 'orange', 'green', 'purple', 'violet']

In [13]:
# pop method remove last item in list
colors_list.pop()
colors_list

['teal', 'yellow', 'blue', 'orange', 'green', 'purple']

In [14]:
# pop specific index
colors_list.pop(3)
colors_list

['teal', 'yellow', 'blue', 'green', 'purple']

In [25]:
# combine list with extend() method
new_list = ['gray', 'brown', 'pink']
colors_list.extend(new_list)
print(colors_list)

# combine list with + operator
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]
list_1 += list_2
print(list_1)

['yellow', 'teal', 'purple', 'pink', 'mauve', 'green', 'gray', 'brown', 'blue', 'gray', 'brown', 'pink']
[1, 2, 3, 4, 5, 6]

In [16]:
# insert item into idex 2
colors_list.insert(2, 'mauve')
colors_list

['teal', 'yellow', 'mauve', 'blue', 'green', 'purple', 'gray', 'brown', 'pink']

In [17]:
# sort a list of strings
colors_list.sort()
colors_list

['blue', 'brown', 'gray', 'green', 'mauve', 'pink', 'purple', 'teal', 'yellow']

In [18]:
# sort a list of numbers
num_list = [3, 2, 5, 1]
num_list.sort()
num_list

[1, 2, 3, 5]

In [19]:
# reverse a list
colors_list.reverse()
colors_list

['yellow', 'teal', 'purple', 'pink', 'mauve', 'green', 'gray', 'brown', 'blue']

In [20]:
# find index of item
colors_list.index('green')

5

In [21]:
# check if item in list
print('brown' in colors_list)
print('brown' not in colors_list)

True
False

In [23]:
# looping over a list
print(colors_list)
print()

for color in colors_list:
  print(colors_list.index(color), color)

['yellow', 'teal', 'purple', 'pink', 'mauve', 'green', 'gray', 'brown', 'blue']

0 yellow
1 teal
2 purple
3 pink
4 mauve
5 green
6 gray
7 brown
8 blue

In [24]:
num_list = [1, 2, 3, 4, 5]
new_list = []

for num in num_list:
  new_list.append(num**2)
print(new_list)

# list comprehension
new_new_list = [x**2 for x in num_list]
print(new_new_list)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

# Sets
A set is used to store unordered and unchangeable multiple items in a single variable

- Not **ordered**
- Not **indexed**
-**Mutable**

[Set Methods](https://www.w3schools.com/python/python_ref_set.asp)

In [26]:
# create a set
s1 = {'a', 'a', 'a', 'A', 'b', 'B', 'c', 'C'}
s1 # only saves unique items

{'A', 'B', 'C', 'a', 'b', 'c'}

In [27]:
# check if item in set
'a' in s1

True

In [28]:
# add item to set
s1.add('d')
s1

{'A', 'B', 'C', 'a', 'b', 'c', 'd'}

In [29]:
# remove item
s1.remove('d')
s1

{'A', 'B', 'C', 'a', 'b', 'c'}

In [30]:
# discard item
s1.discard('b')
print(s1)

{'a', 'A', 'c', 'C', 'B'}

In [31]:
# removing non-existing item
s1.remove('d')

KeyError: ignored

In [32]:
# discarding non-existing item
s1.discard('d')

In [33]:
# pop removes a random item in set
s1.pop()
s1

{'A', 'B', 'C', 'c'}

## Comparing Sets

In [34]:
# show common items in set 1 and set 2
s1 = {1,2,3}
s2 = {2,3,4}
s1.intersection(s2)

{2, 3}

In [35]:
# show everything in set 1 and set 2
s1.union(s2)

{1, 2, 3, 4}

In [36]:
# difference between s1 and s2
s1.difference(s2)

{1}

In [37]:
# check if one set is a subset of another set
s4 = {1, 2, 3, 5}
s1.issubset(s4)

True

In [38]:
# check if one set is a superset of another set
s4.issuperset(s1)

True

## Type Casting

In [ ]:
# type casting set into list
print(s4)
l1 = list(s4)
print(l1)

{1, 2, 3, 5}
[1, 2, 3, 5]

In [40]:
# Using unique features of different datatypes to get desired outcome
l1 = ['a', 'a', 'a', 'A', 'b', 'B', 'c', 'C']
print(l1)

l2 = list(set(l1)) # use unique features of set to remove duplicates
print(l2)

['a', 'a', 'a', 'A', 'b', 'B', 'c', 'C']
['A', 'b', 'a', 'c', 'C', 'B']

# Tuples
- **Ordered**
- **Indexed**
- Not **mutable**

[Tuple Methods](https://www.w3schools.com/python/python_ref_tuple.asp)

In [45]:
# create a tuple
tup = (2, 1, 4, 3)
tup

(2, 1, 4, 3)

In [42]:
# getting index 0 of tuple
tup[-1]

3

In [43]:
# cannot reassign value to a tuple
tup[0] = 3

TypeError: ignored

In [46]:
# concatenate 2 tuples
tup += (5, 6)
tup

(2, 1, 4, 3, 5, 6)

In [49]:
# count the number of items inside a tuple
tup2 = ('one', 'three', 'five', 'two', 'two')
tup2.count('two')

2

In [50]:
# find index of first item
tup2.index('two')

3

## Using Tuples for Parallel Processing

In [51]:
# tuple unpacking
fruit_tup =('apple', 'banana')
print(fruit_tup)

fruit_1, fruit_2 = fruit_tup
print(fruit_1)
print(fruit_2)

('apple', 'banana')
apple
banana

In [53]:
# zipping 2 lists of identical length into tuples for parellel processing
names = ['Bob', 'Alex', 'Tammy']
scores = [100, 40, 60]

print("Use index:")
for tup in zip(names, scores):
  print(tup[0], ':', tup[1])
print()

print("Use tuple unpacking:")
for n, s in zip(names, scores):
  print(n, ':', s)

Use index:
Bob : 100
Alex : 40
Tammy : 60

Use tuple unpacking:
Bob : 100
Alex : 40
Tammy : 60

In [55]:
# zipping group items of lists into tuples base on the index
age = [12, 13, 10]

for i in zip(names, scores, age):
  print(i)

('Bob', 100, 12)
('Alex', 40, 13)
('Tammy', 60, 10)

In [56]:
# unzipping zipped lists
z1 = zip(names, scores)
l1, l2 = zip(*z1)
print(l1, l2)

('Bob', 'Alex', 'Tammy') (100, 40, 60)

# Dictionary
- **Ordered**
- Not **indexed**
- **Mutable**

[Dictionary Methods](https://www.w3schools.com/python/python_ref_dictionary.asp)

In [57]:
# create a dictionary
dict1 = {'Name': 'John', 'Age': 25, 'Home': 'Brooklyn', 'Jobs': {'Name': 'Instructor', 'Years': 10}, 'Hobbies': ['Skiing', 'Movies', 'Karaoke']}
dict1

{'Name': 'John',
 'Age': 25,
 'Home': 'Brooklyn',
 'Jobs': {'Name': 'Instructor', 'Years': 10},
 'Hobbies': ['Skiing', 'Movies', 'Karaoke']}

In [59]:
# get value using key
print(dict1['Jobs'])
print(dict1['Jobs']['Name'])
print(dict1['Hobbies'][0])

{'Name': 'Instructor', 'Years': 10}
Instructor
Skiing

In [60]:
# changing value of a key
dict1['Name'] = 'Bob Bobby'
dict1

{'Name': 'Bob Bobby',
 'Age': 25,
 'Home': 'Brooklyn',
 'Jobs': {'Name': 'Instructor', 'Years': 10},
 'Hobbies': ['Skiing', 'Movies', 'Karaoke']}

In [61]:
# adding key, value pair into a list
dict1['Birthday'] = 'June 10, 2023'
dict1

{'Name': 'Bob Bobby',
 'Age': 25,
 'Home': 'Brooklyn',
 'Jobs': {'Name': 'Instructor', 'Years': 10},
 'Hobbies': ['Skiing', 'Movies', 'Karaoke'],
 'Birthday': 'June 10, 2023'}

In [62]:
# remove key, value pair usinig the key
dict1.pop('Home')
dict1

{'Name': 'Bob Bobby',
 'Age': 25,
 'Jobs': {'Name': 'Instructor', 'Years': 10},
 'Hobbies': ['Skiing', 'Movies', 'Karaoke'],
 'Birthday': 'June 10, 2023'}

In [64]:
# find all the keys in the dictionary
print(type(dict1.keys()))
print(dict1.keys())

<class 'dict_keys'>
dict_keys(['Name', 'Age', 'Jobs', 'Hobbies', 'Birthday'])

In [67]:
# find all the values inside a dictionary
l1 = list(dict1.values())
print(type(dict1.values()))
print(dict1.values())
print(l1)

<class 'dict_values'>
dict_values(['Bob Bobby', 25, {'Name': 'Instructor', 'Years': 10}, ['Skiing', 'Movies', 'Karaoke'], 'June 10, 2023'])
['Bob Bobby', 25, {'Name': 'Instructor', 'Years': 10}, ['Skiing', 'Movies', 'Karaoke'], 'June 10, 2023']

In [69]:
# find every key, value pair in the dictionary
print(dict1.items())
print(list(dict1.items())[0])

dict_items([('Name', 'Bob Bobby'), ('Age', 25), ('Jobs', {'Name': 'Instructor', 'Years': 10}), ('Hobbies', ['Skiing', 'Movies', 'Karaoke']), ('Birthday', 'June 10, 2023')])
('Name', 'Bob Bobby')

In [71]:
# accessing the keys of nested dictionary
list(dict1.values())[2].keys()

dict_keys(['Name', 'Years'])

In [ ]:
# use fromkeys() method to create dictionary with list
names = ['Bob', 'Alex', 'Tammy']
val = 'Haha'
dict_of_names = dict.fromkeys(names, val)
dict_of_names

{'Bob': 'Haha', 'Alex': 'Haha', 'Tammy': 'Haha'}

# Class Excercise: Student Database
**Instructions**
1. Create an empty dictionary `student_db` to act as a database for students
2. Implement a function `add_student()` that adds a new student to the database. The function takes in `database`, `id`, `name`, `grade` as arguments. Use `id` as the dictionary key and store `name`, `grade` as a tuple for the dictionary value.

  - `database`: Your student database
  - `id`: dictionary keys: Unique identifier for each student
  - `name`: String, student's name
  - `grade` float, their current grade level

  ** `name` and `grade` should be stored in a single dictionary value as a tuple
3. Implement a function `get_student()` that retrieves the information of a student by their ID. It should take in 2 arguments `database`, `id` and it should return the student's name and grade
4. Implement a function `display_students()` that displays a list of all students in the database. It should take in 1 argument `database`. The list should include the student ID, name, and grade.

In [73]:
# your code goes here

In [76]:
# @title Kang's Implementation

def add_student(db: dict, id: int, name: str, grade: float):
  db[id] = (name, grade)

def get_student(db: dict, id: int):
  student = db.get(id)
  if student != None:
    return student[0], student[1]
  raise Exception(f'No student with id = {id}. Last id of student is {list(db.keys())[-1]}')

def display_students(db: dict):
  print('================')
  print('Student Database')
  print('================')
  for id, student in db.items():
    print('id:', id)
    print('name:', student[0])
    print('grade:', student[1])
    print('----------------')

### Test Your Code

In [ ]:
student_db = {}

add_student(student_db, 0, 'Bob', 60)
add_student(student_db, 1, 'Alice', 85.5)
add_student(student_db, 2, 'Max', 76)

student, grade = get_student(student_db, 2)
# s1, g1 = get_student(student_db, 3)  # will raise error
print(student, grade)
print()

display_students(student_db)

# **Class Survey**

Directly below is a link to a survey that lets us know how we're doing and any additional feedback you might have. Please take some time to fill out the survey in full so that we can learn how to better serve you.

[**Survey Link**](https://docs.google.com/forms/d/e/1FAIpQLSeRoFsj9kC436jyBuImwv2QToGSYYZDo1SygTEnsQ-k3ozHng/viewform)