<a href="https://colab.research.google.com/github/kchenTTP/python-containers/blob/main/Python_Container_Datatypes_Starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Container DataTypes**

Container datatypes are built-in data structures that hold collections of other objects. They are used to store and organize multiple values in a single variable. We will go through 4 most common Python container Datatypes

# Keywords & Definition

**Methods**: Functions that are associated with a class or its instances (objects)

**Order**: An ordered data structure maintains the sequence or order in which the elements were added or defined

**Index**: Index-based data structures allow accessing elements based on their position or index.

**Mutable**: Mutable objects can be modified or changed after they are created

# Lists
- [x] **Ordered**
- [x] **Indexed**
- [x] **Mutable**

[List Methods](https://www.w3schools.com/python/python_ref_list.asp)

In [ ]:
# create a list of colors
colors_list = ['red', 'yellow', 'blue', 'orange', 'green', 'purple']
colors_list

['red', 'yellow', 'blue', 'orange', 'green', 'purple']

## Index Slicing

In [ ]:
# index Slicing
print(colors_list[0])
print(colors_list[-2])
print(colors_list[1:4])
print(colors_list[1:])
print(colors_list[:4])
print(colors_list[-4:-2])

red
green
['yellow', 'blue', 'orange']
['yellow', 'blue', 'orange', 'green', 'purple']
['red', 'yellow', 'blue', 'orange']
['blue', 'orange']

In [ ]:
# reassign values in list
colors_list[0] = 'teal'
colors_list

['teal', 'yellow', 'blue', 'orange', 'green', 'purple']

## List Methods

In [ ]:
# append method add item to the end of list
colors_list.append('violet')
colors_list

['teal', 'yellow', 'blue', 'orange', 'green', 'purple', 'violet']

In [ ]:
# pop method remove last item in list
colors_list.pop()
colors_list

['teal', 'yellow', 'blue', 'orange', 'green', 'purple']

In [ ]:
# pop specific index
colors_list.pop(3)
colors_list

['teal', 'yellow', 'blue', 'green', 'purple']

In [ ]:
# combine list with + operator
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]
list_1 += list_2
print(list_1)

[1, 2, 3, 4, 5, 6]

In [ ]:
# insert item into idex 2
colors_list.insert(2, 'mauve')
colors_list

['teal', 'yellow', 'mauve', 'blue', 'green', 'purple']

In [ ]:
# sort a list of strings
colors_list.sort()
print(colors_list)

# sort a list of numbers
num_list = [3, 2, 5, 1]
num_list.sort()
print(num_list)

['blue', 'green', 'mauve', 'purple', 'teal', 'yellow']
[1, 2, 3, 5]

In [ ]:
# check if item in list
print('brown' in colors_list)
print('brown' not in colors_list)

False
True

In [ ]:
# looping over a list
print(colors_list)
print()

for color in colors_list:
  print(colors_list.index(color), color)

['blue', 'green', 'mauve', 'purple', 'teal', 'yellow']

0 blue
1 green
2 mauve
3 purple
4 teal
5 yellow

## *Additional Material: List Comprehesion*

In [ ]:
new_list = []
for num in num_list:
  new_list.append(num**2)
print(new_list)

# list comprehension
new_new_list = [x**2 for x in num_list]
print(new_new_list)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

# Sets
A set is used to store unordered and unchangeable multiple items in a single variable

- [ ] ~**Ordered**~
- [ ] ~**Indexed**~
- [x] **Mutable**

[Set Methods](https://www.w3schools.com/python/python_ref_set.asp)

In [ ]:
# create a set
s1 = {'a', 'a', 'a', 'A', 'b', 'B', 'c', 'C'}
s1 # only saves unique items

{'A', 'B', 'C', 'a', 'b', 'c'}

In [ ]:
# check if item in set
'a' in s1

True

## Set Methods

In [ ]:
# add item to set
s1.add('d')
s1

{'A', 'B', 'C', 'a', 'b', 'c', 'd'}

In [ ]:
# remove item
s1.remove('d')
s1

{'A', 'B', 'C', 'a', 'b', 'c'}

In [ ]:
# discard item
s1.discard('b')
print(s1)

{'B', 'c', 'A', 'C', 'a'}

In [ ]:
# removing non-existing item
s1.remove('d')

KeyError: 'd'

In [ ]:
# discarding non-existing item
s1.discard('d')

## Comparing Sets

In [ ]:
# show common items in set 1 and set 2
s1 = {1,2,3}
s2 = {2,3,4}
s1.intersection(s2)

{2, 3}

In [ ]:
# show everything in set 1 and set 2
s1.union(s2)

{1, 2, 3, 4}

In [ ]:
# difference between s1 and s2
s1.difference(s2)

{1}

In [ ]:
# check if one set is a subset of another set
s4 = {1, 2, 3, 5}
s1.issubset(s4)

True

In [ ]:
# check if one set is a superset of another set
s4.issuperset(s1)

True

# Tuples
- [x] **Ordered**
- [x] **Indexed**
- [ ] ~**Mutable**~

[Tuple Methods](https://www.w3schools.com/python/python_ref_tuple.asp)

In [ ]:
# create a tuple
tup = (2, 1, 4, 3)
tup

(2, 1, 4, 3)

In [ ]:
# getting index 0 of tuple
tup[-1]

3

In [ ]:
# cannot reassign value to a tuple
tup[0] = 3

TypeError: 'tuple' object does not support item assignment

In [ ]:
# concatenate 2 tuples
tup += (5, 6)
tup

(2, 1, 4, 3, 5, 6)

In [ ]:
# count the number of items inside a tuple
tup2 = ('one', 'three', 'five', 'two', 'two')
tup2.count('two')

2

In [ ]:
# find index of first item
tup2.index('two')

3

## *Additional Material: Using Tuples for Parallel Processing*

In [ ]:
# tuple unpacking
fruit_tup =('apple', 'banana')
print(fruit_tup)

fruit_1, fruit_2 = fruit_tup
print(fruit_1)
print(fruit_2)

('apple', 'banana')
apple
banana

In [ ]:
# zipping 2 lists of identical length into tuples for parellel processing
names = ['Bob', 'Alex', 'Tammy']
scores = [100, 40, 60]

print("Use index:")
for tup in zip(names, scores):
  print(tup[0], ':', tup[1])
print()

print("Use tuple unpacking:")
for n, s in zip(names, scores):
  print(n, ':', s)

Use index:
Bob : 100
Alex : 40
Tammy : 60

Use tuple unpacking:
Bob : 100
Alex : 40
Tammy : 60

In [ ]:
# zipping group items of lists into tuples base on the index
age = [12, 13, 10]

for i in zip(names, scores, age):
  print(i)

('Bob', 100, 12)
('Alex', 40, 13)
('Tammy', 60, 10)

In [ ]:
# unzipping zipped lists
z1 = zip(names, scores)
l1, l2 = zip(*z1)
print(l1, l2)

('Bob', 'Alex', 'Tammy') (100, 40, 60)

# Dictionary
Collection of data stored in key value pairs.

- [x] **Ordered**
- [ ] ~**Indexed**~
- [x] **Mutable**

[Dictionary Methods](https://www.w3schools.com/python/python_ref_dictionary.asp)

In [ ]:
# create a dictionary
dict1 = {'Name': 'John', 'Age': 25, 'Home': 'Brooklyn', 'Jobs': {'Name': 'Instructor', 'Years': 10}, 'Hobbies': ['Skiing', 'Movies', 'Karaoke']}
dict1

{'Name': 'John',
 'Age': 25,
 'Home': 'Brooklyn',
 'Jobs': {'Name': 'Instructor', 'Years': 10},
 'Hobbies': ['Skiing', 'Movies', 'Karaoke']}

In [ ]:
# get value with key
print(dict1['Jobs'])

# access nested elements
print(dict1['Jobs']['Name'])
print(dict1['Hobbies'][0])

{'Name': 'Instructor', 'Years': 10}
Instructor
Skiing

In [ ]:
# changing value of an existing key
dict1['Name'] = 'Bob Bobby'
dict1

{'Name': 'Bob Bobby',
 'Age': 25,
 'Home': 'Brooklyn',
 'Jobs': {'Name': 'Instructor', 'Years': 10},
 'Hobbies': ['Skiing', 'Movies', 'Karaoke']}

In [ ]:
# adding new key, value pair
dict1['Birthday'] = 'June 10, 2023'
dict1

{'Name': 'Bob Bobby',
 'Age': 25,
 'Home': 'Brooklyn',
 'Jobs': {'Name': 'Instructor', 'Years': 10},
 'Hobbies': ['Skiing', 'Movies', 'Karaoke'],
 'Birthday': 'June 10, 2023'}

## Dictionary Methods

In [ ]:
# get value from key
dict1.get('Jobs')

{'Name': 'Instructor', 'Years': 10}

In [ ]:
# remove key, value pair usinig the key
dict1.pop('Home')
dict1

{'Name': 'Bob Bobby',
 'Age': 25,
 'Jobs': {'Name': 'Instructor', 'Years': 10},
 'Hobbies': ['Skiing', 'Movies', 'Karaoke'],
 'Birthday': 'June 10, 2023'}

In [ ]:
# find all the keys in a dictionary
dict1.keys()

dict_keys(['Name', 'Age', 'Jobs', 'Hobbies', 'Birthday'])

In [ ]:
# find all the values inside a dictionary
dict1.values()

dict_values(['Bob Bobby', 25, {'Name': 'Instructor', 'Years': 10}, ['Skiing', 'Movies', 'Karaoke'], 'June 10, 2023'])

In [ ]:
# find every key, value pair in the dictionary
dict1.items()

dict_items([('Name', 'Bob Bobby'), ('Age', 25), ('Jobs', {'Name': 'Instructor', 'Years': 10}), ('Hobbies', ['Skiing', 'Movies', 'Karaoke']), ('Birthday', 'June 10, 2023')])

# Type Casting
Converting between datatypes

In [ ]:
# type casting set into list
print(s4)
l1 = list(s4)
print(l1)

{1, 2, 3, 5}
[1, 2, 3, 5]

In [ ]:
# type casting set into tuple
print(s4)
t1 = tuple(s4)
print(t1)

{1, 2, 3, 5}
(1, 2, 3, 5)

In [ ]:
# type casting from dictionary to other datatypes will only give you the key of the dictionary
set(dict1)

{'Age', 'Birthday', 'Hobbies', 'Jobs', 'Name'}

# *Additional Material: Class Excercise - Basic Database*

**Instructions**
1. Create an empty dictionary `student_db` to act as a database for students
2. Implement a function `add_student()` that adds a new student to the database. The function takes in `database`, `id`, `name`, `grade` as arguments. Use `id` as the dictionary key and store `name`, `grade` as a tuple for the dictionary value.

  - `database`: Your student database
  - `id`: dictionary keys: Unique identifier for each student
  - `name`: String, student's name
  - `grade` float, their current grade level

  ** `name` and `grade` should be stored in a single dictionary value as a tuple
3. Implement a function `get_student()` that retrieves the information of a student by their ID. It should take in 2 arguments `database`, `id` and it should return the student's name and grade
4. Implement a function `display_students()` that displays a list of all students in the database. It should take in 1 argument `database`. The list should include the student ID, name, and grade.

In [ ]:
# your code goes here

In [ ]:
# @title Kang's Implementation

def add_student(db: dict, id: int, name: str, grade: float):
  db[id] = (name, grade)

def get_student(db: dict, id: int):
  student = db.get(id)
  if student != None:
    return student[0], student[1]
  raise Exception(f'No student with id = {id}. Last id of student is {list(db.keys())[-1]}')

def display_students(db: dict):
  print('================')
  print('Student Database')
  print('================')
  for id, student in db.items():
    print('id:', id)
    print('name:', student[0])
    print('grade:', student[1])
    print('----------------')

### Test Your Code

In [ ]:
student_db = {}

add_student(student_db, 0, 'Bob', 60)
add_student(student_db, 1, 'Alice', 85.5)
add_student(student_db, 2, 'Max', 76)

student, grade = get_student(student_db, 2)
# s1, g1 = get_student(student_db, 3)  # will raise error
print(student, grade)
print()

display_students(student_db)

# **Class Survey**

Directly below is a link to a survey that lets us know how we're doing and any additional feedback you might have. Please take some time to fill out the survey in full so that we can learn how to better serve you.

[**Survey Link**](https://docs.google.com/forms/d/e/1FAIpQLSeRoFsj9kC436jyBuImwv2QToGSYYZDo1SygTEnsQ-k3ozHng/viewform)